.project {
  width: 100%;
  height: auto;
  display: grid;
}

.project__display-information {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  font-size: $size-text-2;
  background: $primary-color;
  border-radius: 5px;
  .arrow-image {
    height: 100%;
  }
  .arrow-image[aria-expanded="true"] {
    transform: rotate(-90deg);
  }
}

.project__display-information:hover {
  background-color: $strong-color-primary;
}

.project-information {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  gap: 12px;
  overflow: hidden;
  max-height: 500px;
  transition: max-height 700ms linear;
  font-size: $size-text-2;
  div {
    display: grid;
  }
  a {
    width: 150px;
    height: 25px;
    place-self: center;
    text-decoration: none;
    text-align: center;
    background-color: $primary-color;
    border-radius: 5px;
  }
  a:hover {
    background-color: $strong-color-primary;
  }
}

.project-information[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 500ms cubic-bezier(0, 1, 0, 1);
}

.project-information__technologies-used {
  .technologies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 120px));
  }
}
